.card {
  height: 30vh;
  background-color: rebeccapurple; 
  margin-top: 30px; 
  border-radius: 10px;
  position: relative;
  border-radius: 10px;
  justify-content: end;
  display: flex;


  .img {
    cursor: pointer;
  }
  .img:hover {
    transform: scale(0.9);
  }
    
}

