<div class="mt-2">
  <p> {{isPortuguese? 
    'Olá, seja bem-vindo(a)! Sou um desenvolvedor Full Stack e esta é a minha página. Estou sempre em busca de aprendizado e novos desafios. Tenho experiência tanto no desenvolvimento front-end quanto back-end, além de conhecimentos em bancos de dados e integrações. Espero que você aproveite o meu portfólio!'
    :
    "Hello and welcome! I'm a Full Stack developer, and this is my page. I'm always eager to learn and take on new challenges. I have experience in both front-end and back-end development, along with knowledge of databases and system integrations. I hope you enjoy exploring my portfolio!"
  }}</p>
</div>

<div class="grid flex justify-content-center text-center gap-4 mt-2">

  <div class="col">
    <p style="size: 16px; font-weight: bold; color: var(--text-title);">{{yearWork + (this.isPortuguese? ' Anos ':' Years ') + monthWork + (isPortuguese? ' Mês':' Month')}}</p>
    <p>{{isPortuguese?'Experiência profissional':'Professional experience'}}</p>
  </div>

  <div class="col">
    <p style="size: 16px; font-weight: bold; color: var(--text-title);">{{doneProject}}</p>
    <p>{{isPortuguese?'Projetos realizado':'Projects done'}}</p>
  </div>

</div>