<div class="grid gap-1 justify-content-between">
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 lg:w-6 xl:w-5" >
                <app-profile-info [isPortuguese]="isPortuguese"></app-profile-info>
                <app-profile-facts [isPortuguese]="isPortuguese"></app-profile-facts>
                <app-profile-details [isPortuguese]="isPortuguese"></app-profile-details>
        </div>
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 lg:w-5 xl:w-6">
                <app-profile-contents [isPortuguese]="isPortuguese"></app-profile-contents>
        </div>
</div>