<div class="flex justify-content-center gap-3" style="margin-top: 48px;">

  <button class="flex justify-content-center align-items-center" (click)="downloadCv()">
    <span>{{isPortuguese?'Baixar Currículo':'Download CV'}}</span>
    <i class="pi pi-download" style="margin-left: 7px;"></i>
  </button>
  <button  class="flex justify-content-center align-items-center">
    <span>{{ isPortuguese?'Contato':'Contact'}}</span>
    <i class="pi pi-send" style="margin-left: 7px;"></i>
  </button>
</div>